parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	WPCompat:
		pluginFile: gp-convert-pt-ao90.php
	scanFiles:
		# GlotPress Stubs
		- %rootDir%/../../pedro-mendonca/glotpress-stubs/glotpress-stubs.php
	paths:
		- gp-convert-pt-ao90.php
		- includes/
		# - gp-templates/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
	strictRules:
		noVariableVariables: false
