parameters:
	level: 9
	inferPrivatePropertyTypeFromConstructor: true
	WPCompat:
		requiresAtLeast: '6.6'
	scanFiles:
		# GlotPress Stubs
		- %rootDir%/../../pedro-mendonca/glotpress-stubs/glotpress-stubs.php
	paths:
		- gp-convert-pt-ao90.php
		- includes/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
