/**
 * Temporary override while GlotPress with Variants doesn't have this CSS.
 */
table {

	&.translations {

		td {

			&.original,
			&.translation {

				width: 45%;
				vertical-align: middle;

				small {
					font-size: 0.75rem;
				}

				ul {
					margin: 0;
					padding: 0;
					list-style: none;

					li {

						&:not(:last-child) {
							padding-bottom: 0.25em;
							border-bottom: 1px solid #e4e4e4;
						}
					}
				}
			}

			&.translation {

				// Highlight conversion difference.
				// Needed for the GP-Convert-PT-AO90.
				.translation-text {

					ins {
						background-color: #68de7c;
						text-decoration: none;
						display: inline-block;
					}
				}
			}
		}
	}
}
