/**
 * Temporary override while GlotPress with Variants doesn't have this CSS.
 */
table.translations td.original,
table.translations td.translation {
	width: 45%;
	vertical-align: middle;
}

table.translations td.original small,
table.translations td.translation small {
	font-size: 0.75rem;
}

table.translations td.original ul,
table.translations td.translation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

table.translations td.original ul li:not(:last-child),
table.translations td.translation ul li:not(:last-child) {
	padding-bottom: 0.25em;
	border-bottom: 1px solid #e4e4e4;
}

table.translations td.translation .translation-text ins {
	background-color: #68de7c;
	text-decoration: none;
	display: inline-block;
}
