/**
 * Temporary override while GlotPress with Variants doesn't have this CSS.
 */
table {

	&.translations {

		tr {

			td {

				&.original,
				&.translation {

					width: 45%;
					vertical-align: middle;

					small {
						font-size: 0.75rem;
					}

					ul {
						margin: 0;
						padding: 0;
						list-style: none;

						li {

							&:not(:last-child) {
								padding-bottom: 0.25em;
								border-bottom: 1px solid #e4e4e4;
							}
						}
					}
				}

				&.translation {

					// Highlight conversion difference.
					// Needed for the GP-Convert-PT-AO90.
					.translation-text {

						ins {
							background-color: #68de7c;
							text-decoration: none;
							display: inline-block;
						}
					}
				}
			}
		}
	}

	&.translation-sets {

		tr {

			td:first-child {

				span.gp-convert-pt-ao90-update {

					button.translation-set-icon,
					span.translation-set-icon {

						color: var(--gp-color-primary-100);

						margin-left: 0.5em;
						vertical-align: middle;
						font-size: 1em;
						display: inline-block;
						line-height: normal;

					}

					span.translation-set-icon {

						color: var(--gp-color-fg-muted);

						&.edit-status {

							display: none;

						}
					}

					button.gp-convert-pt-ao90-update-button {

						display: inline-block;
						text-decoration: none;
						line-height: normal;
						outline: none;
						box-shadow: none;

						span {

							color: var(--gp-color-btn-primary-bg);

							-webkit-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
							-moz-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
							-o-transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
							transition: all 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;

						}

						&:hover,
						&:focus,
						&.active {

							span {

								color: var(--gp-color-btn-primary-hover-bg);
								transform: rotateZ(180deg);

							}
						}
					}
				}
			}

			&.variant {

				td {

					&:first-child {

						// padding-left: 1em;
						color: var(--gp-color-accent-fg);

						&::before {

							font-family: dashicons;
							content: "\f139";
							vertical-align: middle;

						}
					}
				}
			}

			&[data-editable="false"] {

				background-color: var(--gp-color-secondary-100);

				&:hover {

					background-color: var(--gp-color-secondary-200);

				}

				td {

					&:first-child {

						span.gp-convert-pt-ao90-update {

							span.translation-set-icon {

								&.edit-status {

									display: inline-block;

								}
							}
						}
					}
				}
			}
		}
	}
}
